{% extends 'base.html' %}
{% block anasayfa %}
            
            <!--Burası anasayfanın ilk bölümü -->

    <div class="container-fluid">
        <h1> </h1>
        <img src="doc/1.jpg"  width="100%" height="500px">    
        <hr>
          <center>
            <h1 class="">Nasıl bir web sitesi isterdiniz ?</h1>
            <p class="">Biz işletmeniz için, yaratıcı, size para kazandıran,
               hızlı ve aramalarda en önde olan bir web sitesi düşünüyoruz.</p>
            
          </center>
    </div>
  

        <!--Burası anasayfanın ilk bölümünün altı -->

    <div class="mx-auto"  style="width: 100%;">
        <h1></h1> 
    </div>
    

    <!--Burası anasayfanın ilk bölümünün altının devam kısmı -->
      <div class="mx-auto" style="width: +400px;">
        <h1></h1>
         
        
       
      </div>

      <br>
      <br>
      <br>
      <br>
      <br>

    
  <!--Burası anasayfanın ilk bölümünün bittiği yer -->

<!--XXXXX-->
<!--XXXXX-->
<!--XXXXX-->


  <div class="card-columns">
    <div class="card">
      <img class="card-img-top" src="doc/s5.PNG" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"> </h5>
        <p class="card-text">Dinamik ve güçlü</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="doc/s4.PNG" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text">Hızlı bir  alt yapı ile içeriklerinizi herkeze ulaştırın .</p>
        <p class="card-text"><small class="text-muted"></p>
      </div>
    </div>
    <div class="  text-center p-3">
    </div>
    <div class=" text-center">
    </div>
    <div class="card">
      <img class="card-img" src="doc/s1.PNG" alt="Card image">
    </div>
    <div class="card p-3 ">
      <blockquote class=" ">
        <p class="text-dark">Kaliteli ve özgün tasarımları ile sizde hayalinzdeki web sitesine kavuşun</p>
      </blockquote>
    </div>
  </div>
    </div>
  </div>
<!--XXXXX-->
<!--XXXXX-->
<!--XXXXX-->
      <!--Ana sayfanın içerikler bölümü-->

      <div class="card-group">
        <div class="card">
          <img class="card-img-top" src="doc/s6.PNG" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text"> </p>
            <p class="card-text"><small class="text-muted"></small>En hızlı şekilde müşterilerize ulaşın</p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="doc/s7.PNG" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text"></p>
            <p class="card-text"><small class="text-muted"></small>Verileri trafiğini kolayca yönetin</p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="doc/s8.PNG" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text"></p>
            <p class="card-text"><small class="text-muted">Daha çok kişiye ulaşın</small></p>
          </div>
        </div>
      </div>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <div class="mx-auto"  style="width: 900px;">
            <h1 class="border badge-dark">Neden bizi tercih etmelisiniz? </h1>
          </div>
          
          


          <div class="container-fluid">
            <h1> </h1>
            <img src="doc/7.jpg"  width="100%" height="500px">    
            <hr>
            <p3>
                
            </p3>
          </div>
          <br>
          <br>





      <div class="container">
        <div class="row">
          <div class="col order-last">
            
          </div>
          <div class="col">
           
          </div>
          <div class="col order-first">
            
          </div>
        </div>
      </div>




      <div class="card-group">
        <div class="card">
          <img class="card-img-top" src="doc/1.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title bg-warning text-white">Kaliteli hizmet</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="doc/2.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title badge-danger">Yüksek güvenlik</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="doc/3.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title bg-info text-white" >Çeyrek asırlık deneyim</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>

      <br>
      <br>
      <br>
      <br>
      <br>
      <br>


      <!--Alt içerikler-->


      <div class="container  " style="width: -180px;">

        <div class="row">

        <div class="card-group mt-5 mb-5">

            <div class="col-md-3">

            <div class="  card me-3 shadow-lg">
              <img src="doc/4.jpg"card-img-top shadow-sm" alt="...">
              <div class="card-body">
                <h5 class="card-title text-primary mt-2 mb-4">Hizmetlerimiz</h5>
                
                <p class="card-text bg-dark d-inline-block"><small class=" text-white"> </small></p>
              </div>
            </div>

        </div>


         <div class="col-md-5" style="width: -100px;">

            <div class="  card me-3 shadow-lg ">
              <img src="doc/5.jpg" class="card-img-top shadow-sm" alt="...">
              <div class="card-body">
                <h5 class="card-title text-primary mt-2 mb-4">Ekibimiz</h5>
               
                <p class="card-text  bg-dark d-inline-block "><small class=" text-white"></small></p>
              </div>
            </div>

        </div>

        
   
        </div>


        {% endblock %}